@import "tailwindcss";

:root {
  /* =========================
     BASE
     ========================= */

  --white: #ffffff;
  --black: #000000;

  /* =========================
     PRIMARY
     ========================= */

  --primary: #167565;
  --primary-hover: #126354;
  --primary-clicked: #0e5145;

  /* =========================
     SUCCESS
     ========================= */

  --success: #08734f;
  --success-hover: #066044;
  --success-clicked: #044b35;

  /* =========================
     DANGER
     ========================= */

  --danger: #c62828;
  --danger-hover: #a91f1f;
  --danger-clicked: #861818;
}

/* =========================
   BASE
   ========================= */

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background: var(--white);
  color: var(--black);
}
