@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import "tailwindcss";

:root {
  --primary: #198876;
  --primary-hover: #187364;
  --primary-clicked: #18584D;
  --danger: #EF4444;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}